@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

:root {
    --altura-header: 80px;
    --altura-footer: 45px;
}

html,
body {
    height: 100%;
}

body {
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    background-attachment: fixed;
    font-family: 'Arima', cursive;
    font-size:20px ;
    text-align: center;

}

.hide {
    display: none;
}

header {
    height: var(--altura-header);
}

footer {
    height: var(--altura-footer);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navBar {
    height: var(--altura-header);
    display: flex;
   
}

.navBar-link {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  
}

.navBar-link  {
  --primary-color: rgb(250, 250, 250);
  --hovered-color: #5181c1;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 25px;
  gap: 0.5rem;
  align-items: center;
}

.navBar-link  p {
  margin: 0;
  padding: 0;
  position: relative;
  color: var(--primary-color)
  
}

.navBar-link::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.navBar-link p.navQuiz::before {
  position: absolute;
  content: "Quiz";
  width: 0%;
  inset: 0;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  overflow: hidden;
  transition: 0.3s ease-out;
}

.navBar-link p.navClass::before {
    position: absolute;
    content: "Classification";
    width: 0%;
    inset: 0;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    overflow: hidden;
    transition: 0.3s ease-out;
  }

  .navBar-link p.navStats::before {
    position: absolute;
    content: "Stats";
    width: 0%;
    inset: 0;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    overflow: hidden;
    transition: 0.3s ease-out;
  }

.navBar-link:hover::after {
  width: 100%;
}

.navBar-link:hover p::before {
  width: 100%;
}


.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    color: white;
    font-size: 50px;
    padding-right: 5%;
    font-weight: bold;
    font-family: 'Fascinate Inline', cursive;
}

.links-container {
    font-family: Ribeye, cursive;
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15%;
    padding-right: 10%;

}

main {
    min-height: calc(100% - (var(--altura-header) + var(--altura-footer)));
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-quiz {

    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    text-align: center;
    width: 30%;
}

.btn-quiz {

    font-family: 'Ribeye', cursive;
    box-shadow: rgba(0, 0, 0, 0.492) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid #0E1822;
    padding: 0.8rem 2.1rem;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    background-color: #f8b6d386;
    background-size: 200%;
    background-position: 200%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border, color;
    position: relative;
    z-index: 1;
}

.btn-quiz:hover {
    border: 1px solid #bfbcd1;
    color: white;
    background-position: 40%;
}

.btn-quiz:before {
    content: "";
    position: absolute;
    background-color: #0E1822;
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out;
}

.btn-quiz:hover:before {
    background-color: white;
}

.btn-quiz:hover:after {
    background-color: white;
}

.btn-quiz:after {
    content: "";
    position: absolute;
    background-color: #000000;
    width: 0.3rem;
    height: 0.3rem;
    bottom: -1px;
    right: -1px;
    transition: background-color 0.15s ease-in-out;
}

.btn-quiz-borders {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.btn-quiz-borders:before {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    top: -0.3em;
    border: 1px solid #0E1822;
    border-bottom: 0px;
}

.btn-quiz-borders:after {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    bottom: -0.3em;
    border: 1px solid #0E1822;
    border-top: 0px;
    z-index: 0;
}

.shape {
    fill: #0E1822;
}


.btn-quiz:disabled {
    opacity: 0.35;
    pointer-events: none;
}

.buttons-result {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 33vw;
}

.stats {
    display: flex;
    flex-direction: column;
    min-height: 33.5vw;
    padding: 30px;
    width: 100%;
    gap: 10px;
}

.select-container {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#select-user-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    width: 100%;
}


#select-user-form .form-select {
    max-width: 40%;
}

.graphics-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}

.chart-legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 45%;
    gap: 5px;
}

.chart-legend-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.graphics-data-container {
    margin-bottom: 20px;
}

.graphic-title {
    text-align: center;
    margin: 30px auto;
}

.mychart-container {
    width: 27%;
    align-self: center;
}

.mychart-container-bar {
    width: 90%;
    height: 23vh;
    align-self: center;
}

.mychart-container-horizontalBar {
    width: 90%;
    height: 30vh;
    align-self: center;
}

.bar-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.color-label {
    height: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.color-label .color {
    width: 30px;
    height: 14px;
}

.color-label .label {
    font-size: 14px;
}

.back {
    align-self: center;
    width: 30%;
}

.spinner-border2 {
    width: 11.2px;
   height: 11.2px;
   border-radius: 11.2px;
   box-shadow: 28px 0px 0 0 rgba(193,71,255,0.2), 22.7px 16.5px 0 0 rgba(193,71,255,0.4), 8.68px 26.6px 0 0 rgba(193,71,255,0.6), -8.68px 26.6px 0 0 rgba(193,71,255,0.8), -22.7px 16.5px 0 0 #c147ff;
   animation: spinner-b87k6z 1s infinite linear;
}

@keyframes spinner-b87k6z {
   to {
      transform: rotate(360deg);
   }
}

.container-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.text-loading {
    color: #771bd9;
    font-size: 50px;
    font-family: 'Arima', cursive;
}

.question {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 33vw;
}


.gif-result {
    width: 30vw;
}

.gif-result-small {
    width: 35vw;
}

p {
    padding: 0 10%;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 33.5vw;
    padding: 30px;
    width: 100%;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border-radius: 30px;
}

.classification {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 33.5vw;
    padding: 30px;
    width: 100%;
}



.hqr-container {
    background-color: white;
    box-shadow: rgba(245, 240, 240, 0.471) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 30px;
    width: 70%;
    min-height: 35vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.container-correct {
    box-shadow: rgb(13 218 10 / 35%) 0px 0px 30px 25px;
}

.container-incorrect {
    box-shadow: rgba(224, 12, 19, 0.35) 0px 0px 30px 25px;
}

#question {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    width: 100%;
    flex: 0.75;
    font-family: 'Comfortaa', cursive;
}

.answer {
    border-radius: 50px;
    margin: 1.25%;
    width: 47.5%;
    height: 100px;
    font-size: 24px;
    color: whitesmoke;
    border: 0;
    font-weight: bold;
}

.home {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    min-height: 34vw;
    width: 100%;
}

.answers-container {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    width: 100%;

}

#question-header {
    font-family: 'Ribeye', cursive;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
}

.next-question {
    width: 300px;
    font-size: 20px;
}

.wrong-answer {
    opacity: 0.35;
}

.copyright {
    color: grey;
}

.icons {
    width: 32px;
    height: 32px;
    border-radius: 30px;
}

.classTable {
    width: 80%;
    text-align: center;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    font-family: 'Arima', cursive;
    border-style: double;
}

th,
td {
    text-align: center;
    border: 1px inset rgb(30, 144, 193);
    
}

.tables-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arrow {
    width: 5%;
    height: 5%;
    opacity: 0.3;
    align-self: center;
}

.arrow:hover {
    opacity: 1;
    cursor: pointer;
}

.textResult{
    font-family: 'Arima', cursive;
}
